<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>vk_msgSend_proj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C30E8781C2E507B00882AB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C30E8911C2E507B00882AB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C30E89C1C2E507C00882AB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CF7F8561C3E9EC7002850B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
